/* MyProfile.css */

.myprofile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.myprofile-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.myprofile-wrapper {
  display: flex;
  gap: 10px;
}
.myprofile-form {
  flex: 1;
  width: 50%;
  height: 50%;
  max-height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 5px solid rgba(59, 119, 139, 0.4);
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.myprofile-post {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myprofile-detail {
  flex: 1;
}

.myprofile-form-member {
  text-align: left;
  font-size: 20px;
}

.myprofile-form-member input {
  outline: none;
  width: 100%;
  font-size: 1rem;
  border: 0;
  padding: 0;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.myprofile-detail strong {
  font-weight: bold;
}

.myprofile-button {
  flex: 1;
  text-align: center;

}

/* You can define more specific styles for your Button component here */