.Myprofile {
    background-color: #8cc9c8;
    position: absolute;
    width: 30%;
    left: 10%;
    height: 30%;
    top: 20%;
    box-shadow: 10px 10px 8px #888888;
    color: white;
    display: flex;
    flex-direction: column;

}

.Myprofile-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
}

.Myprofile-avatar {
    flex-grow: 1fr;
    margin-left: 10px;
}

.Myprofile-avatar img {
    border-radius: 50%;
    object-fit: contain;
    height: 50%;
    width: 100%;
}

.Myprofile>h1 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 20px;
    color: white;
}



.Myprofile-detail {
    flex-grow: 1fr;
    font-size: 15px;
    margin-left: 10px;
}

.Myprofile-detail>div p {
    margin: 0;
}

.Myprofile-detail>div strong {
    margin-right: 5px;
}

.Myprofile-button {
    flex-grow: 1fr;
    position: absolute;
    right: 0;
    flex: 1;
}