

.login{
    position: absolute;
    max-width: 400px;
    width: 100%;
    left: 35%;
    height: 50%;
    top: 20%;
    background-color: white;
    border-radius: 10%;
    border: 5px solid rgba(59, 119, 139, 0.4);
    ;
    
}

.login > h1 {
    font-size: 3rem;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    gap:10px;
}

.login-form  input {
    outline: none;
    width: 70%;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding: 10px;
}