.post-title {
    margin-left: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
    max-width: 550px;
    height: 250px;
}

.post-rating {
    border-bottom: 1px solid black;
}

.post-content {
    word-wrap: break-word;
    max-height: 200px; /* Adjust the max height as needed */
    overflow: hidden;
}